.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}
.player-div {
  margin: 30px;
  width: 712px;
}
@media only screen and (max-width: 768px) {
  .player-div {
    width: unset;
  }
}
